* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background: #42455a;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
}

.logo img {
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}

.activ {
    color: #19dafa !inportant;
   
}
   
.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px
}

.banner {
    width: 80%;
    height: 70%;
    top: 255;
    LEFT: 130PX;
    position: absolute;
    color: #fff;
}

.app-text {
    width: 50%;
    float: left;
}

.app-text h1 {
    font-size: 43px;
    width: 640;
    position: relative;
    margin-left: 40px;
    text-transform: capitalize;
}

.app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}

.app-picture {
    width: 50%;
    float: right;

}

.app-picture img {
    width: 70%;
    margin-top: -20px;
    padding-left: 50px;

}

.play-btn {
    margin-left: 40px;
    display: inline-flex;
}

.play-btn-inner {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}

.play-btn-inner .fa {
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}

.quick-links {
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6,#19d7f8);
}

.quick-links ul {
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}

.quick-links ul li {
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.quick-links ul li .fa {
    font-size: 25px;
    color: #fff;
}

.quick-links ul li p {
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}

.social-icons {
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-icons ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
    text-align: center;
}

.social-icons ul li a {
    color: #999;
    border-radius: 30%;
    border: 2px solid transparent;
    padding: 5px;
    display: block;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
a{
    text-decoration: none;
    outline: none;
}
  
.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #42455a;
}
.footer-social-icons ul li a{
    color: #272727;
    font-size: 25px;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;

}
.footer-menu-two{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}
.footer-menu-two ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-two ul li a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
 }
.footer-bottom{
    width: 100%
    height: auto;
    margin: auto;
    padding: 5px;
    text-align:center;
    background:linear-gradient(to right, #db1bf6,#19d7f8);
}
.footer-bottom p{
    font-family: sans-serif;
    font-size:15px;
    
    color: #fff;
    font-weight: 600;
}
.footer-bottom p a{
    color :#fff;
    
}
